
html {
    font-family: "Raleway", sans-serif;
}
* {box-sizing: border-box}

header p {
    font-size: 20px;
    font-weight: bold;
}

.header-content {
    position-anchor: auto;    
    padding: 3vw;
    display: flex;
    justify-content: space-between;
}
.header-content ul {
    list-style-type: none;
    display: flex;
    gap: 7vw;
}
.mobile-nav {
    text-align: center;
    cursor: pointer;
    position: fixed;
    right: 25px;
    top: 40px;
}

.section {
    font-size: 20px;
    line-height: 150%;
    margin: 25% 10%
}
.section p {
    font-weight: 200;
}
#profile-picture {
    max-width: 50%;
    display: block;
    margin: 2rem auto;
    height: auto;

}

#about a {
    display: block;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
    text-align: center;
}

.slide img {
    width: 100%;
    height: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #fff;
    font-size: 18px;
    padding: 16px 0;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.dot-container {
    text-align: center;
    padding: 20px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

footer {
    padding-top: 25vw;
    text-align: center;
}



@media (min-width: 700px) {  
    #about {
        display: flex;
        gap: 3%;
    }
    #profile-picture {
        max-width: 50%;
    }
    #about .about-text {
    }
    .section {
        margin: 20% 15%;
        font-size: 22px;
    }
}